@import "tailwindcss";

body {
  font-family: "Press Start 2P", cursive;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
